.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 400px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 8px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    --tw-shadow: 0px 5px 10px rgba(4, 10, 34, .2);
    --tw-shadow-colored: 0px 5px 10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    
    .auth-title {
      font-size: 24px;
      color: #EC9A00;
      margin-bottom: 20px;
      text-align: center;
    }
    
    .auth-input {
      width: 100%;
      padding: 12px;
      margin-bottom: 16px;
      border: none;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    .auth-button {
      background-color: #EC9A00;
      color: white;
      border: none;
      padding: 12px 24px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
    
    .auth-button:hover {
      background-color: #d97a00;
    }
    
    .auth-toggle {
      margin-top: 20px;
      font-size: 14px;
      text-align: center;
      color: #555555;
    }
    
    .auth-toggle-button {
      color: #EC9A00;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: color 0.3s ease;
    }
    
    .auth-toggle-button:hover {
      color: #d97a00;
      text-decoration: underline;
    }
    
  